// bower:scss
// endbower
@import "font-awesome.scss";

body {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background: #c24b48;
  color: #ffffff;
  animation: relax 60s;
  animation-iteration-count: infinite;
}

@keyframes relax {
  0% {
    background-color: #c24b48;
  }
  10% {
    background-color: #c16246;
  }
  20% {
    background-color: #c29847;
  }
  30% {
    background-color: #a4c146;
  }
  40% {
    background-color: #6dc655;
  }
  50% {
    background-color: #4fc478;
  }
  60% {
    background-color: #5396c6;
  }
  70% {
    background-color: #4a68c3;
  }
  80% {
    background-color: #7845c1;
  }
  90% {
    background-color: #c04393;
  }
  100% {
    background-color: #c16246;
  }
}

.app-aside {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 5%;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    a {
      color: rgba(255, 255, 255, 0.75)
    }
  }
}

.app-aside__nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-out;
  a {
    display: block;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.2);
      color: rgba(255, 255, 255, 1.0);
    }
    &:active {
      transform: scale(1.0);
      color: rgba(0, 0, 0, 0.75);
    }
  }
  a:last-child {
    position: absolute;
    bottom: 0;
  }
}

.app-main {
  display: flex;
  flex: 0 0 90%;
  flex-flow: column wrap;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.app-main__title {
  margin: 40px auto 40px; 
  font-size: 32px;
  text-align: center;
}

.app-main__features {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.app-main__time-block {
  flex: 0 0 50%;
}

.app-main__todo {
  display: flex;
  flex: 0 0 50%;
  form {
    display: flex;
    flex-flow: column wrap;
    label {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    input {
      flex: 1;
      height: auto;
      padding: 12px 20px;
      font-size: 18px;
      border: none;
      background: none;
      outline: none;
      background-color: #f0f0f0;
      border: 2px solid #f0f0f0;
      box-shadow: none;
      box-shadow: inset none;
      color: #333333;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #ffffff;
      }
      &:focus {
        background-color: #ffffff;
        border: 2px solid #333333;
      }
    }
    a {
      background-color: #333333;
      border: 2px solid #333333;
      padding: 12px 20px;
      margin-left: -2px;
      font-size: 18px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #40bf6b;
        color: #ffffff;
      }
      &:focus {
        background-color: #333333;
      }
    }
  }
}

.app-main__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  a {
    display: block;
    margin: 5px;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.2);
      color: rgba(255, 255, 255, 1.0);
    }
    &:active {
      transform: scale(1.0);
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

.app-main__group {
  display: flex;
  flex-flow: row nowrap;
}

.app-main__todo-list {
  margin-top: 40px;
}

.app-main__task {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: stretch;
  span {
    background-color: #333333;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
  }
}

#container {
  display: block;
  position: relative;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}